In [1]:
#pip install mlxtend
#!pip install apyori

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
df = pd.read_csv("trans.txt", header=None, names=["id"])
df = df.apply(lambda x: x.str.replace("\t", ","))
df["id"] = df["id"].apply(lambda x: {s for s in x.split(',')})

In [4]:
df.head()

           id
0        {21}
1  {768, 787}
2  {789, 796}
3       {802}
4         {3}

In [5]:
transactions = np.empty(700000, dtype=object)

for i, val in df["id"].iteritems():
    transactions[i] = val
    
print(transactions)

[{'21'} {'768', '787'} {'789', '796'} ... {'222'}
 {'857', '794', '803', '801'} {'794', '795', '810', '800', '781', '852'}]

In [6]:
#Trying with min_support = 0.0001, all k (1-5) sizes 
from apyori import apriori
rule = apriori(transactions = transactions, min_support = 0.0001)

In [7]:
output = list(rule)
#print(output)

In [8]:
def inspect(result):
    
    candidate    = [tuple(result[2][0][1])[:] for result in output]
    support    = [result[1] for result in output]
    confidence = [result[2][0][2] for result in output]
    lift       = [result[2][0][3] for result in output]
    return list(zip(candidate, support, confidence, lift))

output_DataFrame = pd.DataFrame(inspect(output), columns = ['Candidate', 'Support', 'Confidence', 'Lift'])

In [9]:
output_DataFrame

                       Candidate   Support  Confidence  Lift
0                           (0,)  0.073511    0.073511   1.0
1                           (1,)  0.150861    0.150861   1.0
2                          (10,)  0.000740    0.000740   1.0
3                         (100,)  0.004110    0.004110   1.0
4                         (101,)  0.009684    0.009684   1.0
...                          ...       ...         ...   ...
19055       (15, 95, 30, 24, 17)  0.000114    0.000114   1.0
19056       (15, 50, 95, 24, 17)  0.000116    0.000116   1.0
19057     (36, 150, 71, 43, 170)  0.000110    0.000110   1.0
19058       (33, 58, 22, 23, 59)  0.000104    0.000104   1.0
19059  (763, 779, 772, 804, 768)  0.000116    0.000116   1.0

[19060 rows x 4 columns]

In [10]:
#We got ... candidates in total for all 5 sizes with min_support = 0.0003

In [11]:
output_DataFrame.nlargest(n = 10, columns = 'Support')

    Candidate   Support  Confidence  Lift
1        (1,)  0.150861    0.150861   1.0
482     (59,)  0.099529    0.099529   1.0
136     (21,)  0.081443    0.081443   1.0
0        (0,)  0.073511    0.073511   1.0
261     (33,)  0.068849    0.068849   1.0
229      (3,)  0.063523    0.063523   1.0
70      (15,)  0.058680    0.058680   1.0
20     (110,)  0.050033    0.050033   1.0
280     (35,)  0.041850    0.041850   1.0
92      (17,)  0.040923    0.040923   1.0

In [12]:
#Trying with min_support = 0.0002, all k (1-5) sizes 
rule1 = apriori(transactions = transactions, min_support = 0.0002)

In [13]:
output_1 = list(rule1)

In [14]:
def inspect(result):
    
    candidate         = [tuple(result[2][0][1])[:] for result in output_1]
    support    = [result[1] for result in output_1]
    confidence = [result[2][0][2] for result in output_1]
    lift       = [result[2][0][3] for result in output_1]
    return list(zip(candidate, support, confidence, lift))

output_1_DataFrame = pd.DataFrame(inspect(output_1), columns = ['Candidate', 'Support', 'Confidence', 'Lift'])
output_1_DataFrame

                   Candidate   Support  Confidence  Lift
0                       (0,)  0.073511    0.073511   1.0
1                       (1,)  0.150861    0.150861   1.0
2                      (10,)  0.000740    0.000740   1.0
3                     (100,)  0.004110    0.004110   1.0
4                     (101,)  0.009684    0.009684   1.0
...                      ...       ...         ...   ...
8346     (33, 58, 1, 21, 59)  0.000231    0.000231   1.0
8347  (15, 143, 30, 24, 104)  0.000334    0.000334   1.0
8348  (15, 143, 31, 30, 104)  0.000217    0.000217   1.0
8349   (15, 31, 24, 30, 104)  0.000200    0.000200   1.0
8350   (15, 143, 95, 30, 24)  0.000217    0.000217   1.0

[8351 rows x 4 columns]

In [15]:
#Trying with min_support = 0.0003, all k (1-5) sizes 
rule2 = apriori(transactions = transactions, min_support = 0.0003)

In [16]:
output_2 = list(rule2)

In [17]:
def inspect(result):
    
    candidate         = [tuple(result[2][0][1])[:] for result in output_2]
    support    = [result[1] for result in output_2]
    confidence = [result[2][0][2] for result in output_2]
    lift       = [result[2][0][3] for result in output_2]
    return list(zip(candidate, support, confidence, lift))

output_2_DataFrame = pd.DataFrame(inspect(output_2), columns = ['Candidate', 'Support', 'Confidence', 'Lift'])
output_2_DataFrame

                   Candidate   Support  Confidence  Lift
0                       (0,)  0.073511    0.073511   1.0
1                       (1,)  0.150861    0.150861   1.0
2                      (10,)  0.000740    0.000740   1.0
3                     (100,)  0.004110    0.004110   1.0
4                     (101,)  0.009684    0.009684   1.0
...                      ...       ...         ...   ...
5121        (33, 58, 23, 22)  0.000337    0.000337   1.0
5122        (33, 23, 22, 59)  0.000367    0.000367   1.0
5123        (33, 23, 58, 59)  0.000333    0.000333   1.0
5124    (763, 779, 804, 768)  0.000349    0.000349   1.0
5125  (15, 143, 30, 24, 104)  0.000334    0.000334   1.0

[5126 rows x 4 columns]

In [18]:
#We got 5126 candidates in total for all 5 sizes with min_support = 0.0003

In [19]:
#Trying with min_support = 0.0004, all k (1-5) sizes 
rule3 = apriori(transactions = transactions, min_support = 0.0004)

In [20]:
output_3 = list(rule3)

In [21]:
def inspect(result):
    
    candidate         = [tuple(result[2][0][1])[:] for result in output_3]
    support    = [result[1] for result in output_3]
    confidence = [result[2][0][2] for result in output_3]
    lift       = [result[2][0][3] for result in output_3]
    return list(zip(candidate, support, confidence, lift))

output_3_DataFrame = pd.DataFrame(inspect(output_3), columns = ['Candidate', 'Support', 'Confidence', 'Lift'])
output_3_DataFrame

             Candidate   Support  Confidence  Lift
0                 (0,)  0.073511    0.073511   1.0
1                 (1,)  0.150861    0.150861   1.0
2                (10,)  0.000740    0.000740   1.0
3               (100,)  0.004110    0.004110   1.0
4               (101,)  0.009684    0.009684   1.0
...                ...       ...         ...   ...
3591  (15, 24, 17, 95)  0.000446    0.000446   1.0
3592  (30, 15, 31, 24)  0.000473    0.000473   1.0
3593  (30, 15, 24, 52)  0.000421    0.000421   1.0
3594  (30, 15, 24, 95)  0.000550    0.000550   1.0
3595  (21, 33, 58, 59)  0.000409    0.000409   1.0

[3596 rows x 4 columns]

In [22]:
#We got 3596 candidates in total for all 5 sizes with min_support = 0.0004

In [23]:
#Trying with min_support = 0.0005, all k (1-5) sizes 
rule4 = apriori(transactions = transactions, min_support = 0.0005)

In [24]:
output_4 = list(rule4)

In [25]:
def inspect(result):
    
    candidate         = [tuple(result[2][0][1])[:] for result in output_4]
    support    = [result[1] for result in output_4]
    confidence = [result[2][0][2] for result in output_4]
    lift       = [result[2][0][3] for result in output_4]
    return list(zip(candidate, support, confidence, lift))

output_4_DataFrame = pd.DataFrame(inspect(output_4), columns = ['Candidate', 'Support', 'Confidence', 'Lift'])
output_4_DataFrame

              Candidate   Support  Confidence  Lift
0                  (0,)  0.073511    0.073511   1.0
1                  (1,)  0.150861    0.150861   1.0
2                 (10,)  0.000740    0.000740   1.0
3                (100,)  0.004110    0.004110   1.0
4                (101,)  0.009684    0.009684   1.0
...                 ...       ...         ...   ...
2734  (30, 15, 143, 24)  0.000933    0.000933   1.0
2735  (15, 143, 24, 95)  0.000523    0.000523   1.0
2736  (30, 15, 31, 143)  0.000513    0.000513   1.0
2737   (30, 15, 24, 17)  0.000537    0.000537   1.0
2738   (30, 15, 24, 95)  0.000550    0.000550   1.0

[2739 rows x 4 columns]

In [26]:
#We got 2739 candidates in total for all 5 sizes with min_support = 0.0005